<rm-auth-template theme="red" [showBack]="true" [showLogo]="false" [totalSteps]="5" [currentStep]="1">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="step" novalidate>

    <h1 class="step__title">Ingresa tu correo electrónico</h1>
    <p class="step__subtitle">Usaremos este correo para crear tu cuenta en RubyTune.</p>

    <rm-input
      formControlName="email"
      type="email"
      placeholder="correo@ejemplo.com"/>

    <rm-button type="submit" variant="primary" size="lg" [disabled]="form.invalid">
      Continuar
    </rm-button>

  </form>

</rm-auth-template>
