.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;

  &__title {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 0;
    letter-spacing: -0.3px;
    line-height: 1.2;
  }

  &__subtitle {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .step {
    padding-top: 34px;
    gap: 20px;

    &__title {
      font-size: 52px;
      max-width: 560px;
    }

    &__subtitle {
      font-size: 18px;
      max-width: 560px;
    }
  }
}
